body {
  font-family: 'Montserrat';
  text-align: center;
}

h1 {
  font-family: 'Montserrat';
  font-size: 3.5rem;
  font-weight: bold;
}

#title {
  background-color: #34ebd8;
  padding-bottom: 40px;
}

.title-image {
    border-radius: 200%;
    width: 30rem;
    height: 20rem;
    margin-bottom: 50px
}

.heading {
  font-size: 2.5rem;
  margin:50px auto 50px auto;
}

.button{
  margin: 5% 3% 5% 0;
}

.balance {
    font-weight: normal;
    font-size: 1.5rem;
    margin:50px auto 20px auto;
}

.product-head {
  font-weight: bold;
  margin:50px auto 50px auto;
}
